@model IEnumerable<DigitalExaminations.ViewModels.ResultViewModel>

@{
    ViewData["Title"] = "Result";
}

<h1>Student Exam Results</h1>

<div id="parentDiv">
    <br />
    <div>
        <table id="resultGrid"
               class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Exam Name</th>
                    <th>Total Questions</th>
                    <th>Correct</th>
                    <th>Wrong</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ExamName</td>
                        <td>@item. TotalQuestion</td>
                        <td>@item.CorrectAnswer</td>
                        <td>@item.WrongAnswer</td>
                        <td>@((item.CorrectAnswer / item.TotalQuestion)* 100) %</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $("#printPDF").click(function () {
            var element = document.getElementById('parentDiv'); // Choose pagebreak options based on mode.
            //var mode = "avoid-all";
            //var pagebreak (mode === 'specify') ?
            // { mode: ", before: '.before', after: '.after', avoid: '.avoid' } :
            //
            { mode: mode };
        });
        // Generate the PDF.
        html2pdf().from(element).set({
            margin: [30, 10, 5, 10], //top, left, buttom, right,
            pagebreak: avoid: 'tr' },
            jsPDF: orientation: 'landscape', unit: 'pt', format: 'letter', compressPDF: true } }).save()
        });
    </script>
}